.jumbotron {
  background-color: #f2f20f;
  color: black;
  filter: drop-shadow(2px 2px 3px gray);
  -webkit-filter: drop-shadow(2px 2px 3px gray); }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #f2f20f; }

a {
  text-decoration: none;
  padding: 0 0 5px 0; }

h1 {
  margin: 0; }

.footer-icons {
  padding: 0 10px 0 0; }

.oi-star {
  padding: 0 2px;
  color: gold; }

.pad {
  --bs-gutter-x: 0; }

.izquierda {
  align-items: flex-end; }

@media screen and (max-width: 572px) {
  .izquierda {
    align-items: flex-start; } }

@media screen and (min-width: 820px) {
  .d-block {
    height: 500px; } }
